@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --base: radial-gradient(circle at 50% 50%,
      rgba(120, 120, 130, 1) 0%,
      rgba(70, 70, 80, 1) 12%,
      rgba(45, 45, 50, 1) 25%,
      rgba(25, 25, 30, 1) 45%,
      rgba(5, 5, 8, 1) 85%,
      rgba(0, 0, 0, 1) 100%);
  --footer: #000000;
  --custom-blue: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-custom-blue: var(--custom-blue);

}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --fontelegant: ['"Playfair Display"', 'serif'],
}

body {
  background: var(--base);
  color: var(--foreground);
  font-family: serif, Arial, Helvetica, sans-serif;
}

footer {
  background: var(--footer);
}